.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 320px;
    background: #1E1E1E;

    &__logo {
        display: grid;
        place-items: center;
        height: 120px;
        font-family: 'Kanit';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        color: #E10602;
    }

    &__menu {
        position: relative;

        &__item {
            display: flex;
            align-items: center;
            place-content: flex-start;
            padding: 1rem 3rem;
            font-size: 1.25rem;
            font-weight: 500;
            color: #555555;
            transition: color 0.3s ease-in-out;

            &.active {
                color: #fff;
            }

            &__icon {
                margin-right: 1rem;
                color: #E10602;
                &.active {
                    color: #fff;
                }

                i {
                    font-size: 1.75rem;
                }
            }
        }

        &__indicator {
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(100% - 40px);
            border-radius: 10px;
            background-color: #E10602;
            z-index: -1;
            transform: translateX(-50%);
            transition: 0.3s ease-in-out;
            
        }
    }

    .logoutbutton{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem 3rem;
        font-size: 1.25rem;
        font-weight: 500;

        position: absolute;
        width: 320px;
        height: 66px;
        left: 0px;
        top: 40rem;

        color: #fff;
        background: #E10602;

    }
}